<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @item.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @item.descricao %>
</p>

<p>
  <strong>Codigo barra:</strong>
  <%= @item.codigo_barra %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= @item.ativo %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
